<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="ar"><![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" lang="ar"><![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9" lang="ar"><![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" lang="ar"><!--<![endif]-->
<head>

<!-- Histats.com  START  (aync)-->
<script type="text/javascript">var _Hasync= _Hasync|| [];
_Hasync.push(['Histats.start', '1,4413767,4,0,0,0,00010000']);
_Hasync.push(['Histats.fasi', '1']);
_Hasync.push(['Histats.track_hits', '']);
(function() {
var hs = document.createElement('script'); hs.type = 'text/javascript'; hs.async = true;
hs.src = ('//s10.histats.com/js15_as.js');
(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(hs);
})();</script>
<noscript><a href="/" target="_blank"><img  src="//sstatic1.histats.com/0.gif?4413767&101" alt="myspace tracker" border="0"></a></noscript>
<!-- Histats.com  END  -->
<link rel="canonical" href="">
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="google-site-verification" content="8mDITILcwmCkXhXT_tM3CbJW4S_lEgj3uuAfhagtUI4" />
<link href="https://plus.google.com/+sabqorgnews" rel="publisher">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no">
<meta property="fb:app_id" content="636292179804270" />
<meta name="Author" content="صحيفة سبق الإلكترونية" />
<meta name="copyright" content=" 2018 &copy; جميع الحقوق محفوظة لصحيفة سبق " />
<meta property="og:image:width" content="800" />
<meta property="og:image:height" content="600" />
<meta property="og:title" content=أرامكو تعلن تخفيض أسعار البنزين الشهرية: بنزين 91 بـ0.45.. بنزين 95 بـ0.67" />
<meta property="og:type" content="article" />
<meta property="og:description" content="أرامكو تعلن تخفيض أسعار البنزين الشهرية: بنزين 91 بـ0.45.. بنزين 95 بـ0.67" />
<meta id="metaDescription" name="description" content="أرامكو تعلن تخفيض أسعار البنزين الشهرية: بنزين 91 بـ0.45.. بنزين 95 بـ0.67" />
<meta property="og:image" content="https://cdn.sabq.org/uploads/media-cache/resize_800_relative/uploads/material-file/5c38ff10d0c11028158b460c/5c38ff0ca136f.jpeg" />
<meta property="og:url" content="https://sabq.org/hMf7x8" />
<meta property="og:site_name" content="صحيفة سبق الإلكترونية" />
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@https://www.twitter.com/sabqorg">
<meta name="twitter:title" content="أرامكو تعلن تخفيض أسعار البنزين الشهرية: بنزين 91 بـ0.45.. بنزين 95 بـ0.67">
<meta name="twitter:description" content="أرامكو تعلن تخفيض أسعار البنزين الشهرية: بنزين 91 بـ0.45.. بنزين 95 بـ0.67">
<meta name="twitter:image" content="https://cdn.sabq.org/uploads/media-cache/resize_800_relative/uploads/material-file/5c38ff10d0c11028158b460c/5c38ff0ca136f.jpeg">
<link rel="alternate" type="application/rss+xml" title="" href="https://sabq.org/rss" />
<title> أرامكو تعلن تخفيض أسعار البنزين الشهرية: بنزين 91 بـ0.45.. بنزين 95 بـ0.67</title>
<link rel="stylesheet" href="https://cdn.sabq.org/design/sabq-light/css/bootstrap.css?version=1.283" />
<link rel="stylesheet" href="https://cdn.sabq.org/design/sabq-light/css/bootstrap-rtl.css?version=1.283" />
<link rel="stylesheet" href="https://cdn.sabq.org/assets/frontend/Lite/css/main.css?version=1.283" />
<link rel="stylesheet" href="https://cdn.sabq.org/assets/frontend/Lite/css/opta.css?version=1.283" />
<link rel="icon" href="https://cdn.sabq.org/favicon.ico?version=1.283" type="image/x-icon" />
<link rel="shortcut icon" href="https://cdn.sabq.org/favicon.ico?version=1.283" type="image/x-icon" />

<script data-cfasync="false" src="https://cdn.sabq.org/assets/js/base-header.js?version=1.283"></script>
<script src="https://cdn.sabq.org/assets/js/base.js?version=1.283"></script>
<script type="text/javascript">
                (function(){
                    var foxscript = document.createElement('script');
                    foxscript.src = '//js.foxpush.com/sabq.js?v='+Math.random();
                    foxscript.type = 'text/javascript';
                    foxscript.async = 'true';
                    var fox_s = document.getElementsByTagName('script')[0];
                    fox_s.parentNode.insertBefore(foxscript, fox_s);
                })();
            </script>

<script data-cfasync="true" type="text/javascript">
        _atrk_opts = { atrk_acct:"YSOWe1aMw6002K", domain:"sabq.org",dynamic: true};
        (function() { var as = document.createElement('script'); as.type = 'text/javascript'; as.async = true; as.src = "https://d31qbv1cthcecs.cloudfront.net/atrk.js"; var s = document.getElementsByTagName('script')[0];s.parentNode.insertBefore(as, s); })();
        </script>
<noscript><img src="https//d5nxst8fruw4z.cloudfront.net/atrk.gif?account=YSOWe1aMw6002K" style="display:none" height="1" width="1" alt="" /></noscript>

<link id="chatwee-custom-css" rel="stylesheet" href="https://cdn.sabq.org/design/sabq-new/css/chat-style.css?version=1.283" />
<base href="/" />
</head>
<body data-ng-app="sabq">
<!--[if IE]>
        <div role="alert" class="alert alert-warning fade in not-support-floating">
            <button data-dismiss="alert" class="close" type="button"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
            <h3> <i class="fa fa-warning"></i>
    عذراً المتصفح الخاص بك لا يدعم جميع خصائص هذا الموقع<br/>
    نرجو تحديث المتصفح الخاص بك الى اصدار انترنت اكسبلورر 10 او 11 حتى يدعم جميع الخصائص </h3>
</div>
<![endif]-->

<script type="text/javascript">
    var socialLoginUrl = "/social-login/social-network";
    var loginCheckUrl = "/login-check";
    var forgetPasswordUrl = "/forgot-password";
    var signupUrl ="/signup";
    $(function ()
    {
        $('body').on('submit','#ajax-form-login,#ajax-form-login-resp,#ajax-form-login-comment',function (e) {
            e.preventDefault();
            $('.alert-danger').remove();
            if($('#ajax-form-login-resp').is(':visible')) $('#login-popup').lightcase('resize');
            var $this = $(e.currentTarget),
                inputs = {};

            // Send all form's inputs
            $.each($this.find('input'), function (i, item) {
                var $item = $(item);
                if($item.is(':checkbox')){
                    if($item.is(':checked'))
                        inputs[$item.attr('name')] = 1;
                }else{
                    inputs[$item.attr('name')] = $item.val();
                }
            });

            // Send form into ajax
            if($(this).valid()){
            $.ajax({
                url: $this.attr('action'),
                type: 'POST',
                dataType: 'json',
                data: inputs,
                success: function (data) {
                    $("html, body").animate({ scrollTop: 0 }, "slow");
                    if (data.has_error) {
                        // Insert your error process
                        showAuthError(data.error);                    }
                    else {
                        // Insert your success process
                            skipReloadAnimation = true;
                        userStateChange(data.data, true);
//window.location = data.target_path;
                    }
                }
            });
        }
        });

        $('.ajax-logout').click(function (e) {
            e.preventDefault();
            $.ajax({
                url: $(this).attr('href'),
                complete: function () {
                    userStateChange();
                    if(typeof angular == "undefined"){
                        location.href = '/';
                    }
                }
            });
        });

    });
</script>
<header>
<div ng-controller="headerController" style="position: relative;">
<nav class="navbar nav-padding">
<div id="toggle">
<div class="one"></div>
<div class="two"></div>
<div class="three"></div>
</div>
<a class="logo" href="https://mobile.sabq.org/">
<img src="https://cdn.sabq.org/design/sabq-light/img/logo.png?version=1.283" alt="logo" width="70" />
</a>
<ul class="nav navbar-nav pull-left leftMenu">
<li class="dropdown">
<a target="_self" href="https://mobile.sabq.org/set-view-cookie?value=full&amp;redirectToUrl=https%3A%2F%2Fsabq.org%2F" class="full-version-btn" title="النسخة الكاملة">
<i class="fa fa-desktop" aria-hidden="true"></i>
</a>
</li>
<li class="dropdown">
<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="flaticon-user146"></i></a>
<ul class="dropdown-menu main-menu">
<li class="dev-login-li  anon-container">
<div class="userDive">
<div class="col-md-12 text-center">
<form role="form" id="ajax-form-login" class="form-horizontal dev-js-validation" action="/login-check" method="post" novalidate="novalidate">
<div class="h20"></div>
<p>من فضلك قم بتسجيل دخولك</p>
<div class="socialLogin">
<ul class="list-inline">
<!-- AddToAny BEGIN -->
<div class="a2a_kit a2a_kit_size_32 a2a_default_style">
<a class="a2a_dd" href="https://www.addtoany.com/share"></a>
<a class="a2a_button_whatsapp"></a>
<a class="a2a_button_twitter"></a>
<a class="a2a_button_facebook"></a>
</div>
<script async src="https://static.addtoany.com/menu/page.js"></script>
<!-- AddToAny END -->
</ul>
</div>
<div class="orText">
<span class="orLine"></span>
<span class="orWord"> أو</span>
</div>
<div class="formcontrolBody">
<div class="col-md-6">
<div class="form-group">
<input type="text" placeholder="البريد الإلكتروني" class="form-control" required="required" id="username" name="form[_username]">
</div>
</div>
<div class="col-md-6">
<div class="form-group">
<input type="password" placeholder="كلمة المرور" class="form-control" data-remove-password-validation="true" required="required" autocomplete="off" id="password" name="form[_password]">
</div>
</div>
<button class="btn btn-primary" type="submit">دخول</button>
<div class="col-md-12">
<div class="checkbox">
<label>
<input type="checkbox" name="form[_remember_me]"> تذكرنى
</label>
</div>
</div>
<a target="_self" class="link" href="/forgot-password">نسيت كلمة المرور</a>
<a target="_self" class="link" href="/signup">عضوية جديدة</a>
</div>
</form>
</div>
<div class="clearfix"></div>
</div>
</li>
<li class="dropdown menu-large loggedin-container">
<div class="userDive">
<div class="col-md-12 text-center">
<div class="personBody loggedin-container">
<a target="_self" href="/profile-view"><img class="img-circle" width="60" height="60" src="" /></a>
<a target="_self" href="/profile-view"> <p class="personName loggedin-name"></p></a>
<a class="btn btn-primary ajax-logout" target="_self" href="/logout">خروج</a>
</div>
</div>
<div class="clearfix"></div>
</div>
</li>
</ul>
</li>
<li class="dropdown">
<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="flaticon-sun94"></i></a>
<ul class="dropdown-menu main-menu">
<li id="dev-weather">
<div class="userDive">
<div class="col-md-12 text-center">
<div class="h20"></div>
<div class="weatherContainer">
<div class="weatherBody">
<div class="weatherBodyTop">
 <div class="">
<span class="weatherNumber dev-weatherTempNow">
</span>
<h3 id="weatherNowStatus"></h3>
</div>
<img id="weatherNowIcon" alt="" class="pull-left" width="100">
<div class="clearfix"></div>
</div>
<div class="weatherBodyCenter">
<div class="col-md-12 col-sm-12 col-xs-12">
<h3 id="weatherName"></h3>
</div>

</div>
<div class="weatherBodyBottom">
<ul class="dev-dayWeather">
</ul>
<a href="http://www.ArabiaWeather.com" target="_blank" class=""> <img src="/img/weatherLogoblack.png" class="img-responsive" style="width: 270px;  margin: 0 auto; display: block;" /></a>
<div class="clearfix"></div>
<div class="clearfix"></div>
</div>
</div>
</div>
</div>
<div class="clearfix"></div>
</div>
</li>
</ul>
</li>
<li class="dropdown dev-prayertime-city">
<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="flaticon-islam60"></i></a>
<ul class="dropdown-menu main-menu">
<li>
<div class="userDive">
<div class="prayer-contaniner">
<div class="prayer-header">
<h2 class="dev-prayer-city"> </h2>
<h2 class="dev-active-prayer-label"> </h2>
<h2 class="dev-active-prayer-time"></h2>
</div>
<div class="prayer-timer">
<h2> متبقي من الوقت <span class="dev-remaining-time"></span></h2>
</div>
<div class="prayer-list">
<ul>
<li>
<h2 class="pull-right">آذان الفجر</h2>
<h2 class="pull-left list-time dev-fajr"></h2>
<div class="clearfix"></div>
</li>
<li>
<h2 class="pull-right">آذان الظهر</h2>
<h2 class="pull-left list-time dev-zuhr"></h2>
<div class="clearfix"></div>
</li>
<li class="prayer-list-active">
<h2 class="pull-right">آذان العصر</h2>
<h2 class="pull-left list-time dev-asr"></h2>
<div class="clearfix"></div>
 </li>
<li>
<h2 class="pull-right">آذان المغرب</h2>
<h2 class="pull-left list-time dev-maghrib"></h2>
<div class="clearfix"></div>
</li>
<li>
<h2 class="pull-right">آذان العشاء</h2>
<h2 class="pull-left list-time dev-isha"> </h2>
<div class="clearfix"></div>
</li>
</ul>
</div>
</div>
</div>
</li>
</ul>
</li>
<li class="dropdown " id="dev-search">
<a href="#" id="search-btn" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
<i class="flaticon-magnifying-glass34"></i>
</a>
<ul class="dropdown-menu main-menu">
<li>
<form name="searchForm" role="search" novalidate="" data-ng-submit="submitSearchForm()">
<div class="userDive">
<div class="col-md-12 text-center">
<div class="h20"></div>
<input id="searchString" name="searchString" placeholder="بحث في الأخبار و المقالات" required="" data-ng-minlength="3" data-ng-model="searchString" class="form-control" data-ng-class="{inputError: searchFormSubmitted && (searchForm.searchString.$error.required || searchForm.searchString.$error.minlength)}" />
<div class="inputErrorText ng-hide" data-ng-show="searchFormSubmitted && (searchForm.searchString.$error.required || searchForm.searchString.$error.minlength)">
<i class="fa fa-warning"></i>
القيمة المسموح بها 3 حروف او اكثر
</div>
<a data-ng-href="/%D8%A8%D8%AD%D8%AB-%D9%85%D8%AA%D9%82%D8%AF%D9%85" class="pull-righ advSearch">بحث متقدم</a>
<button class="btn btn-primary pull-left" type="submit">بحث</button>
</div>
<div class="clearfix"></div>
</div>
</form>
</li>
</ul>
</li>
</ul>
</nav>
</div>
</header>

<div style="height: 0px;" id='Overlay'></div>
<div id="menu">
<ul class="main-menu">
<li class="border-home"><a title="sabq" href="https://mobile.sabq.org/">الرئيسية</a>
</li>
<li class="border-home"><a title="لحظة بلحظة" href="https://mobile.sabq.org/%D9%84%D8%AD%D8%B8%D9%87-%D8%A8%D9%84%D8%AD%D8%B8%D9%87">لحظة بلحظة</a>
</li>
<li class="border-Mamlaka"><a href="https://mobile.sabq.org/%D8%A7%D9%84%D9%85%D9%85%D9%84%D9%83%D8%A9"> المملكة</a>
</li>
<li class="border-Sports"><a href="https://mobile.sabq.org/%D8%B1%D9%8A%D8%A7%D8%B6%D8%A9"> رياضة</a>
</li>
<li class="border-Stations"><a href="https://mobile.sabq.org/%D9%85%D8%AD%D8%B7%D8%A7%D8%AA"> محطات</a>
</li>
<li class="border-Tourism"><a href="https://mobile.sabq.org/%D8%B3%D9%8A%D8%A7%D8%AD%D8%A9"> سياحة</a>
</li>
<li class="border-Cars"><a href="https://mobile.sabq.org/%D8%B3%D9%8A%D8%A7%D8%B1%D8%A7%D8%AA"> سيارات</a>
</li>
<li class="border-Technology"><a href="https://mobile.sabq.org/%D8%AA%D9%82%D9%86%D9%8A%D8%A9"> تقنية</a>
</li>
<li class="border-WorldNews"><a href="https://mobile.sabq.org/%D8%A3%D8%AE%D8%A8%D8%A7%D8%B1-%D8%A7%D9%84%D8%B9%D8%A7%D9%84%D9%85"> أخبار العالم</a>
</li>
<li class="border-Studio"><a href="https://mobile.sabq.org/%D8%A7%D9%84%D8%A3%D8%B3%D8%AA%D8%AF%D9%8A%D9%88"> الأستديو</a>
</li>
<li class="border-ToSenior"><a href="https://mobile.sabq.org/%D8%B3%D8%A8%D9%82-%D8%AA%D9%82%D9%88%D9%84-%D9%84%D9%84%D9%85%D8%B3%D8%A4%D9%88%D9%84"> سبق تقول للمسؤول</a>
</li>
<li class="border-Discussions"><a href="https://mobile.sabq.org/%D8%AD%D9%88%D8%A7%D8%B1%D8%A7%D8%AA"> حوارات</a>
</li>
<li class="border-Rumors"><a href="https://mobile.sabq.org/%D9%86%D8%A7%D8%B5%D8%B9"> ناصع</a>
</li>
<li class="border-Karkter"><a href="https://mobile.sabq.org/%D9%83%D8%A7%D8%B1%D9%8A%D9%83%D8%A7%D8%AA%D9%8A%D8%B1"> كاريكاتير</a>
</li>
<li class="border-Profile"><a href="https://mobile.sabq.org/%D8%A8%D8%B1%D9%88%D9%81%D8%A7%D9%8A%D9%84"> بروفايل</a>
</li>
<li class="border-Fox"><a href="https://mobile.sabq.org/%D8%A8%D8%A7%D9%84%D8%A3%D8%B1%D9%82%D8%A7%D9%85"> بالأرقام</a>
</li>
<li class="border-Numbers"><a href="https://mobile.sabq.org/%D8%A5%D9%86%D9%81%D9%88%D8%AC%D8%B1%D8%A7%D9%81%D9%8A%D9%83"> إنفوجرافيك</a>
</li>
<li class="border-Investigations"><a href="https://mobile.sabq.org/%D8%AA%D8%AD%D9%82%D9%8A%D9%82%D8%A7%D8%AA"> تحقيقات</a>
</li>
<li class="border-ToSenior"><a title="مقالات" href="https://mobile.sabq.org/%D9%85%D9%82%D8%A7%D9%84%D8%A7%D8%AA">مقالات</a></li>
<li class="border-ToSenior"><a title="التصويتات" href="https://mobile.sabq.org/poll"> التصويتات</a></li>
<li class="border-ToSenior"><a title="الفعاليات" href="https://mobile.sabq.org/%D9%81%D8%B9%D8%A7%D9%84%D9%8A%D8%A7%D8%AA">الفعاليات</a></li>
<li class="border-ToSenior"><a title="اتصل بنا" href="https://mobile.sabq.org/contactmessage/create" target="_self">اتصل بنا</a></li>
</ul>
</div>
<div class="clearfix"></div>
<script data-cfasync="false">
            $(document).on('click', '.material-filter', function(){
                $('body').trigger('sortMaterialCallback', [$(this).attr('data-order'), true]);
               // $(".sticker-2").sticky({topSpacing:0});
               // $(".sticker-3").sticky({topSpacing:104});

            });

                          var weatherTempelate = '\x20\x20\x20\x20\x20\x20\x20\x20\x3Cli\x3E\x0A\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x3Cstrong\x3E\x20\x25forcastDay\x25\x3C\x2Fstrong\x3E\x0A\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x3Cdiv\x20class\x3D\x22clearfix\x22\x3E\x3C\x2Fdiv\x3E\x0A\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x3Cdiv\x3E\x20\x3Cimg\x20src\x3D\x22\x25forcastIcon\x25\x22\x20alt\x3D\x22weather\x22\x20width\x3D\x2225\x22\x20class\x3D\x22pull\x2Dleft\x22\x2F\x3E\x3C\x2Fdiv\x3E\x0A\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x3Cdiv\x20class\x3D\x22clearfix\x22\x3E\x3C\x2Fdiv\x3E\x0A\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x3Cp\x20class\x3D\x22weatherNumberMax\x22\x3E\x20\x25forcastTempMax\x25\u00B0\x3C\x2Fp\x3E\x0A\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x3Cp\x20style\x3D\x22font\x2Dsize\x3A\x2010px\x3B\x22\x3E\x25forcastTempMin\x25\u00B0\x3C\x2Fp\x3E\x0A\x20\x20\x20\x20\x20\x20\x20\x20\x3C\x2Fli\x3E\x0A\x20\x20\x20\x20';
               var weather='';
               var prayerCity;

    function getprayerTimeData(){
                $.ajax({
        url: '/ajax/prayer-time',
        success:preparePrayerTimeWidget
    });
    }


jQuery(document).ready(function ($) {
        $('#search-btn').click(function(){
        if(!$('#dev-search').hasClass('open')){
          window.setTimeout(function() {  $( "#searchString" ).focus(); },100);
        }
        })

                $.ajax({
                url: "/ajax/getWeather",
                success: function(dataObject) {
                    preparePrayerTimeWidget(dataObject.prayerTime);
                    if(dataObject.weather && !$.isEmptyObject(dataObject.weather)){
                    var data=dataObject.weather;
                    $('#dev-weather').removeClass('hide');
                    weather = data;
                    $('#weatherName').html(data.country +' / '+data.name);
                    $('.dev-weatherTempNow').html(data.weatherNow.temperature+'°');
                    $('#weatherNowStatus').html(data.weatherNow.status);
                    if(typeof data.weatherNow.statusCode != 'undefined'){
                         $('#weatherNowIcon').attr('src',assetsCdn+'/weather/weatherNow/'+ data.weatherNow.statusCode+'.png');
                    }else{
                        $('#weatherNowIcon').attr('src',assetsCdn+'/weather/weatherNow/n1.png');
                    }
                    $('.dev-dayWeather').html('');
                    var weatherData='';
                    $.each(data.forcast,function(index, weather ){
                         weatherData= weatherTempelate.replace(/%forcastDay%/g, weather.day);
                        if(typeof weather.statusCode != 'undefined'){
                           weatherData= weatherData.replace(/%forcastIcon%/g,assetsCdn+'/weather/forcast/'+weather.statusCode+'.png');
                        }else{
                          weatherData= weatherData.replace(/%forcastIcon%/g,assetsCdn+'/weather/forcast/14.png');
                        }
                        weatherData= weatherData.replace(/%forcastTempMax%/g,weather.temperatureMax)
                         .replace(/%forcastTempMin%/g,weather.temperatureMin)
                        $('.dev-dayWeather').append(weatherData);
                           });
                       }else{
                        $('#dev-weather').addClass('hide');

                       }

                    }
                   });

                 $(window).on('activePrayerTime', function () {
                     $('.dev-active-prayer-label').text(activePrayerObject.activePrayerLabel)
                     $('.dev-active-prayer-time').text(activePrayerObject.activePrayer)
                     $('.dev-asr').text(prayerTimeDate.asr);
                     $('.dev-fajr').text( prayerTimeDate.fajr);
                     $('.dev-isha').text( prayerTimeDate.isha);
                     $('.dev-maghrib').text( prayerTimeDate.maghrib);
                     $('.dev-zuhr').text( prayerTimeDate.zuhr);
                     $('.dev-prayer-city').text(prayerCity);
                     $('.dev-remaing-label').text('يحين '+activePrayerObject.activePrayerLabel+'  بعد');
                     $('.prayer-contaniner li').removeClass('prayer-list-active');
                     $('.dev-'+activePrayerObject.active).closest('li').addClass('prayer-list-active');
                     displayCount(remaining, 'dev-remaining-time',getNextActivePrayer);
             });
                });
    </script>

<div id="skinned" data-ng-view="">
<div class="hide">
<h1>أرامكو تعلن تخفيض أسعار البنزين الشهرية: بنزين 91 بـ0.45.. بنزين 95 بـ0.67</h1>
<h2>&quot;أرامكو&quot; تعلن تحديث أسعار البنزين</h2>
<noscript>
        <img src="https://cdn.sabq.org/uploads/media-cache/resize_800_relative/uploads/material-file/5c38ff10d0c11028158b460c/5c38ff0ca136f.jpeg" alt="أرامكو تعلن تخفيض أسعار البنزين الشهرية: بنزين 91 بـ0.45.. بنزين 95 بـ0.67"/>
    </noscript>
<p>أعلنت شركة &quot;أرامكو السعودية&quot; المراجعة الشهرية الدورية لأسعار البنزين، وستشهد تخفيض أسعار البنزين الشهرية وأوضحت أن أسعار شهر يونيو الحالي هي على النحو الآتي: 
<p>&quot;بنزين 91&quot; إنخفض من 0.67 ريال لكل لتر إلى 0.45.. ريال لكل لتر ، وإنخفض سعر &quot;بنزين 95&quot; من 0.82 ريال لكل لتر إلى 0.67 ريال لكل لتر.</p>
<p>وأشارت توقعات الاقتصاديين إلى نزول الأسعار وفقًا للتغيرات العالمية التي شهدها العالم في أسعار النفط العالمية.</p>
<p>وكانت أرامكو قد أعلنت في وقت سابق أن فترة المراجعة الدورية لأسعار البنزين ستكون شهرية بدلًا من ربع سنوية، ويكون التعديل في اليوم العاشر من كل شهر ميلادي، والتطبيق يكون في صباح اليوم الحادي عشر.</p>
<p>يُذكر أن ملاك المحطات مُلزمون بمواكبة المراجعة الشهرية لأسعار الوقود عبر متابعة الأسعار بشكل شهري، وعكسها على شاشات الأسعار في المحطات بشكل مباشر؛ تحسبًا للحملات الرقابية التي تقوم بها وزارة الشؤون البلدية والقروية عبر الأمانات والبلديات؛ للتأكد من التزام جميع محطات الوقود بتركيب شاشات عرض إلكترونية للأسعار وفق الاشتراطات، وتعديل الأسعار بشكل فوري؛ تزامنًا مع المراجعة الشهرية حيث سيكون هناك كذلك جولات رقابية من قِبَل وزارة التجارة؛ للتأكد من تطبيق الأسعار المحدثة.</p>
<p>وذلك وفقًا لإجراءات حوكمة تعديل أسعار منتجات الطاقة والمياه المعتمدة من قِبل الحكومة.</p>
<p>وأشارت الشركة إلى أن تعديل أسعار منتجات الطاقة يتم وفقًا لإجراءات حوكمة تعديل أسعار منتجات الطاقة والمياه، وأن الأسعار المحلية لمنتجات الطاقة قابلة للتغيير ارتفاعًا وانخفاضًا تبعًا للتغيرات في أسعار التصدير من المملكة إلى الأسواق العالمية.</p>
<p> </p>
<p> </p>
<p> </p>
<p style="text-align:justify">&nbsp;</p></p>
</div>
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
<div class="panel panel-default">
<div id="headingOne-sticky-wrapper" class="sticky-wrapper" style="height: 42px;"><div class="panel-heading sticker" role="tab" id="headingOne">
<h3 class="panel-title "><a href="/">المملكة</a></h3>
<span>/</span>
<span style="padding-right: 10px;" class="ng-scope"><a class="ng-binding ng-scope" href="المملكة/محليات">محليات</a></span>
<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne" target="_self" class="collapse1 collapsed">
<div class="HedarrowOPen pull-left"><i class="flaticon-expand22"></i>
</div>
<div class="HedarrowClose pull-left"><i class="flaticon-collapse3"></i>
</div>
</a>
</div></div>
</div>
</div>
<div class="whiteSection">
<div class="container">

<div class="cd-header is-fixed">
<div>
<!-- AddToAny BEGIN -->
<div class="a2a_kit a2a_kit_size_32 a2a_default_style">
<a class="a2a_dd" href="https://www.addtoany.com/share"></a>
<a class="a2a_button_whatsapp"></a>
<a class="a2a_button_twitter"></a>
<a class="a2a_button_facebook"></a>
</div>
<script async src="https://static.addtoany.com/menu/page.js"></script>
<!-- AddToAny END -->
<div class="pull-left shareNumber dev-share-photo-num">
<p class="dev-share-num">960</p>
</div>
</div>

</div>
<div class="h10"></div>
<div class="FullDate">
<span><i class="fa fa-calendar"></i> 8 يونيو 2020 - 16 شوال 1441</span>
<span><i class="fa fa-clock-o"></i> 01:13 AM</span>
</div>
<p class="sub-title">&quot;أرامكو&quot; تعلن تحديث أسعار البنزين</p> 
<h3 class="news-title">أرامكو تعلن تخفيض أسعار البنزين الشهرية: بنزين 91 بـ0.45.. بنزين 95 بـ0.67</h3>
<div class="img-body">
<img id="5b677602e40a56b20d8861b0" src="https://cdn.sabq.org/uploads/media-cache/resize_800_relative/uploads/material-file/5c38ff10d0c11028158b460c/5c38ff0ca136f.jpeg" alt="" class="img-responsive" />
</div>
<div class="news-writer-pic pull-right">
<div class="dropdown">
<a id="dLabel" type="button" document-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
<div class="authors">
<img src="https://cdn.sabq.org/uploads/media-cache/resize_120_120/uploads/users-profile-images/5634d71e4024c.png" width="60" class="img-responsive img-circle" alt="سعود الصبحي " />
</div>
<div class="innerNameBody">
<p><a target="_self">سعود الصبحي </a></p>
<span class="divider"></span>
<a target="_self"> <p>المدينة
</p></a>
</div>
</a>
</div>
</div>
<div class="pull-left statistics">
<div class="newsBigSocial">
<span>
<a type="button" ng-if='!isLoggedIn' class="likeBtn" data-ng-click="toogleLike()" type="button">
<span class="newsDate"><i class="fa fa-thumbs-o-up"></i> 26 </span>
</a>
</span>
<span class="Comments"><i class="fa fa-comments-o"></i> 163 </span>
<span class="Views"><i class="fa fa-bar-chart"></i> 153,586 <i class="fa fa-fire hot"></i> </span>
</div> </div>
<div class="clearfix"></div>
<p>أعلنت شركة &quot;أرامكو السعودية&quot; المراجعة الشهرية الدورية لأسعار البنزين، وستشهد تخفيض أسعار البنزين الشهرية وأوضحت أن أسعار شهر يونيو الحالي هي على النحو الآتي: </p>
<p>&quot;بنزين 91&quot; إنخفض من 0.67 ريال لكل لتر إلى 0.45.. ريال لكل لتر ، وإنخفض سعر &quot;بنزين 95&quot; من 0.82 ريال لكل لتر إلى 0.67 ريال لكل لتر.</p>
<p>وأشارت توقعات الاقتصاديين إلى نزول الأسعار وفقًا للتغيرات العالمية التي شهدها العالم في أسعار النفط العالمية.</p>
<p>وكانت أرامكو قد أعلنت في وقت سابق أن فترة المراجعة الدورية لأسعار البنزين ستكون شهرية بدلًا من ربع سنوية، ويكون التعديل في اليوم العاشر من كل شهر ميلادي، والتطبيق يكون في صباح اليوم الحادي عشر.</p>
<p>يُذكر أن ملاك المحطات مُلزمون بمواكبة المراجعة الشهرية لأسعار الوقود عبر متابعة الأسعار بشكل شهري، وعكسها على شاشات الأسعار في المحطات بشكل مباشر؛ تحسبًا للحملات الرقابية التي تقوم بها وزارة الشؤون البلدية والقروية عبر الأمانات والبلديات؛ للتأكد من التزام جميع محطات الوقود بتركيب شاشات عرض إلكترونية للأسعار وفق الاشتراطات، وتعديل الأسعار بشكل فوري؛ تزامنًا مع المراجعة الشهرية حيث سيكون هناك كذلك جولات رقابية من قِبَل وزارة التجارة؛ للتأكد من تطبيق الأسعار المحدثة.</p>
<p>وذلك وفقًا لإجراءات حوكمة تعديل أسعار منتجات الطاقة والمياه المعتمدة من قِبل الحكومة.</p>
<p>وأشارت الشركة إلى أن تعديل أسعار منتجات الطاقة يتم وفقًا لإجراءات حوكمة تعديل أسعار منتجات الطاقة والمياه، وأن الأسعار المحلية لمنتجات الطاقة قابلة للتغيير ارتفاعًا وانخفاضًا تبعًا للتغيرات في أسعار التصدير من المملكة إلى الأسواق العالمية.</p>
<p> </p>
<p id="dev-content" class="main-text">
<p> </p>
<p> </p>
<p style="text-align:justify">&nbsp;</p>
<div class="sequential">
</div>

<div class="text-center mpuAd" id="MPU"></div>
<div class="reletedBox">
<div class="title-hed">
<h3> الرابط المختصر </h3>
</div>
<input id="input_all" class="copy-div" type="text" style="width:100%" readonly />
</div>
<div class="tags">
<div class="title-hed">
<h3>الكلمات المفتاحية</h3>
</div>
<div class="reletedInner keyWords">
</div>
<div class="clearfix"></div>
</div>
</div>
</div>
</div>

<footer class="text-center">
<div class="container">
<a href="https://mobile.sabq.org/">
<img src="https://cdn.sabq.org/design/sabq-light/img/logofoot.jpg?version=1.283" alt="" width="130" />
</a>
<div class="socialLogin topSocialLinks">
<ul class="list-inline">
<li>
<a class="facebook" href="https://www.facebook.com/sabq.org" target="_blank">
<i class="fa fa-facebook"></i>
</a>
</li>
<li>
<a class="twitter" href="https://www.twitter.com/sabqorg" target="_blank">
<i class="fa fa-twitter"></i>
</a>
</li>
<li>
<a class="google" href="https://plus.google.com/+sabqorgnews" target="_blank">
<i class="fa fa-google"></i>
</a>
</li>
<li>
<a class="youtube" href="https://www.youtube.com/sabqorg" target="_blank">
<i class="fa fa-youtube"></i>
 </a>
</li>
<li>
<a class="instagram" href="https://www.instagram.com/sabqorg" target="_blank">
<i class="fa fa-instagram"></i>
</a>
</li>
<li>
<a class="twitter" href="https://www.telegram.me/sabqorg" target="_blank">
<i class="fa fa-paper-plane"></i>
</a>
</li>
<li>
<a class="rss" href="https://mobile.sabq.org/rss" target="_blank">
<i class="fa fa-rss"></i>
</a>
</li>
</ul>
</div>
<ul class="footer-links">
<li><a href="https://mobile.sabq.org/%D8%A7%D9%84%D9%85%D9%85%D9%84%D9%83%D8%A9">المملكة</a></li>
<li><a href="https://mobile.sabq.org/%D8%B1%D9%8A%D8%A7%D8%B6%D8%A9">رياضة</a></li>
<li><a href="https://mobile.sabq.org/%D9%85%D8%AD%D8%B7%D8%A7%D8%AA">محطات</a></li>
<li><a href="https://mobile.sabq.org/%D8%B3%D9%8A%D8%A7%D8%AD%D8%A9">سياحة</a></li>
<li><a href="https://mobile.sabq.org/%D8%B3%D9%8A%D8%A7%D8%B1%D8%A7%D8%AA">سيارات</a></li>
<li><a href="https://mobile.sabq.org/%D8%AA%D9%82%D9%86%D9%8A%D8%A9">تقنية</a></li>
<li><a href="https://mobile.sabq.org/%D8%A3%D8%AE%D8%A8%D8%A7%D8%B1-%D8%A7%D9%84%D8%B9%D8%A7%D9%84%D9%85">أخبار العالم</a></li>
<li><a href="https://mobile.sabq.org/%D8%A7%D9%84%D8%A3%D8%B3%D8%AA%D8%AF%D9%8A%D9%88">الأستديو</a></li>
<li><a href="https://mobile.sabq.org/%D8%B3%D8%A8%D9%82-%D8%AA%D9%82%D9%88%D9%84-%D9%84%D9%84%D9%85%D8%B3%D8%A4%D9%88%D9%84">سبق تقول للمسؤول</a></li>
<li><a href="https://mobile.sabq.org/%D8%AD%D9%88%D8%A7%D8%B1%D8%A7%D8%AA">حوارات</a></li>
<li><a href="https://mobile.sabq.org/%D9%86%D8%A7%D8%B5%D8%B9">ناصع</a></li>
<li><a href="https://mobile.sabq.org/%D9%83%D8%A7%D8%B1%D9%8A%D9%83%D8%A7%D8%AA%D9%8A%D8%B1">كاريكاتير</a></li>
<li><a href="https://mobile.sabq.org/%D8%A8%D8%B1%D9%88%D9%81%D8%A7%D9%8A%D9%84">بروفايل</a></li>
<li><a href="https://mobile.sabq.org/%D8%A8%D8%A7%D9%84%D8%A3%D8%B1%D9%82%D8%A7%D9%85">بالأرقام</a></li>
<li><a href="https://mobile.sabq.org/%D8%A5%D9%86%D9%81%D9%88%D8%AC%D8%B1%D8%A7%D9%81%D9%8A%D9%83">إنفوجرافيك</a></li>
<li><a href="https://mobile.sabq.org/%D8%AA%D8%AD%D9%82%D9%8A%D9%82%D8%A7%D8%AA">تحقيقات</a></li>
<li><a href="https://mobile.sabq.org/%D9%85%D9%82%D8%A7%D9%84%D8%A7%D8%AA">مقالات</a></li>
<li><a href="https://mobile.sabq.org/%D9%81%D8%B9%D8%A7%D9%84%D9%8A%D8%A7%D8%AA">فعاليات</a></li>
<li><a href="https://mobile.sabq.org/poll">التصويتات</a></li>
</ul>
</div>
</footer>
<div class="copyrights">
<a class="pull-right" target="_blank" href="http://ibtikar.net.sa/?utm_source=Sabq&utm_medium=FooterLink&utm_campaign=Partnerships">
<img src="https://cdn.sabq.org/design/sabq-light/img/ibtikar.jpg?version=1.283" alt="" width="150" />
</a>
<a class="pull-left" href="http://www.dimofinf.net/" target="_blank">
<img src="https://cdn.sabq.org/design/sabq-light/img/dimofinf.png?version=1.283" alt="" width="150" />
</a>
<div class="clearfix"></div>
<div class="text-center">
<p>&copy; جميع الحقوق محفوظة لصحيفة سبق 2018</p>
</div>
<div class="clearfix"></div>
</div>
